.heading
{
    width: 100%;
    margin: 0%;
    height: 450px;
    font-size: 70px;
    letter-spacing: 15px;
    text-align: center;
    background-image: url("Picture 1.jpg");
    background-size: cover;
    
}

.img1
{
    width: 135px;
    height: 135px;
    border-radius: 10000px;
    
    
}

.img2
{
    width: 160px;
    height: 160px;
    border-radius: 10000px;
    
    
}

.img3
{
    width: 110px;
    height: 110px;
    border-radius: 10000px;
    margin-bottom: 30%;
    
}

.n{
    padding-left: 180px;
    font-weight: bolder;
    color: white;
}

.gradient {
width: 100%;
height: 2000px;
padding-top: 20px;
text-align: center;

    background-image: linear-gradient(pink, blue);
}

.para{
  margin-right: 200px;
  float: right;
    width: 40%;
    font-size: 20px;
}

.img{
    width: 450px;
    height: 370px;
    margin-left: 90px;
}

.modal-body{
	text-align: center;
    float: center;
}
